services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs-backend-freshfood
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '3012:3012'
    networks:
      - nestjs-network

networks:
  nestjs-network:
    driver: bridge
